body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #FFFFFF;
    color: #607080;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.m-0 {
    margin: 0!important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    display: flex;
}
.p-0 {
    padding: 0!important;
}
.px-2{
    margin-left: 10px!important;
    margin-right: 10px!important;
}
.bg-light {
    background: #ffffff !important;
}
.bg-light {
    background-color: #f8f9fa!important;
}
.text-black-50 {
    color: rgba(0,0,0,.5)!important;
}
.text-center {
    text-align: center!important;
}
.py-3 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}

.d-flex {
    display: flex!important;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-6{
    width: 50% !important;
}

.p-0 {
    padding: 0!important;
}
.m-0 {
    margin: 0!important;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.bg-light {
    background: #ffffff !important;
}
.bg-light {
    background-color: #f8f9fa!important;
}
.text-black-50 {
    color: rgba(0,0,0,.5)!important;
}
.text-center {
    text-align: center!important;
}
.py-3 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #25396f;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.h4, h4 {
    font-size: 1.5rem;
}
.h6, h6 {
    font-size: 1rem;
}
.h5, h5 {
    font-size: 1.25rem;
}

.fs-6 {
    font-size: 1rem!important;
}
.col-4 {
    flex: 0 0 auto;
    width: 33%;
}

.fs-6 {
    font-size: 1rem!important;
}
.border-3 {
    border-width: 3px!important;
}
.border {
    border: 1px solid #dee2e6!important;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.p-0 {
    padding: 0!important;
}
.m-0 {
    margin: 0!important;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.bg-light{
    background: #ffffff !important;
}
.contenido{
    padding-left: 3rem;
    padding-right: 3rem;
}

. text-center{
    text-align: center!important;
}

.bg-light{
    background: #ffffff !important;
}
.contenido{
    padding-left: 3rem;
    padding-right: 3rem;
}

.columna50{
    width: 45%;
    height:auto;
}


.titulo{
    border-color:#196398;
}

table{
    width:100%;
}

.small{
    font-size:10px;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:#196398;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;}
.tg td{border-color:#196398;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:#196398;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
    font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-n50k{border-color:#196398;border-width:1px;text-align:left;vertical-align:bottom}
.tg .tg-2qwn, .tg .tg-9qp4{background-color:#196398;border-width:1px;border-color:#196398;color:#ffffff;text-align:center;vertical-align:bottom}
.tg .tg-lh7k, .tg .tg-9qp4{border-color:#FFFFFF;border-width:0px;text-align:left;vertical-align:bottom;}
.tg .tg-387i, .tg .tg-9qp4{border-color:#196398;border-width:1px;text-align:center;vertical-align:bottom}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:12px;overflow:hidden;
    padding:5px 10px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:12px;font-weight:normal;
    overflow:hidden;padding:5px 10px;word-break:normal;}
.tg .tg-zcwr{background-color:#ffffff;border-color:#196398;border-width:1px;font-size:12px;text-align:left;vertical-align:top}
.tg .tg-9qp4{background-color:#196398;border-color:#196398;border-width:1px;color:#efefef;font-size:12px;text-align:center;vertical-align:top}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:#ffffff;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
    overflow:hidden;padding:5px 5px;word-break:normal;}
.tg th{border-color:#196398;border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:12px;
    font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-qldt{border-color:#196398;border-width:2px;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-5ufm{border-color:#196398;text-align:left;vertical-align:top}
.tg .tg-idar{background-color:#196398;border-color:#196398;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-5o4h{background-color:#196398;border-color:#196398;color:#ffffff;text-align:center;vertical-align:top}

.tg .tg-baqh{text-align:center;vertical-align:top; border-width:0px;}


/*FICHA DE PAGO*/

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:5px 10px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:5px 10px;word-break:normal;}
.tg .tg-8x4y{border-color:#196398;color:#196398;font-family:"Lucida Console", Monaco, monospace !important;font-size:13px;
    font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-pr1q{border-color:#196398;font-size:12px;text-align:center;vertical-align:top}
.tg .tg-5ufm{border-color:#196398;text-align:left;vertical-align:top}
.tg .tg-f1u9{background-color:#ffffff;border-color:#196398;color:#333333;font-size:12px;text-align:center;vertical-align:top}
.tg .tg-6dcg{background-color:#196398;border-color:#196398;color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-zj0t{background-color:#196398;border-color:#196398;color:#ffffff;font-size:12px;text-align:center;vertical-align:top}
.tg .tg-mvkq{background-color:#ffffff;border-color:#196398;color:#cb0000;font-family:"Lucida Console", Monaco, monospace !important;
    font-size:28px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-gns2{background-color:#196398;color:#ffffff;text-align:center;vertical-align:top}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
    overflow:hidden;padding:5px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
    font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle; padding: 120px 210px 120px 210px}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-tia3{background-color:#196398;border-color:inherit;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-nbj5{background-color:#FFF;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-5ims{background-color:#ffffff;border-color:inherit;font-family:"Lucida Console", Monaco, monospace !important;
    font-size:12px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-fd96{background-color:#FFF;border-color:inherit;font-family:"Lucida Console", Monaco, monospace !important;font-weight:bold;
    text-align:center;vertical-align:top}
.tg .tg-c6of{background-color:#ffffff;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
.tg .tg-1hr0{background-color:#ffffff;border-color:inherit;text-align:right;vertical-align:top}
