/*RCGS Configure CSS3+s Styles*/
:root{
    --primary: #196398;
    --second: #CDAC12;
    --ligth : #ffffff;
    --grey: #dedede;
    --alert:  indianred;
    --gray: #616A6B;
}


.layout-horizontal .main-navbar {
    background-color: var(--primary);
    padding: 1rem;
}

.layout-horizontal .header-top .logo img {
    height: 30px;
}

/*@over botstrap styles*/

.bg-primary{background-color: var(--primary) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
/*@over botstrap styles TEXT*/
.text-light-grey{color: var(--grey) !important;}
.text-primary{    color: var(--primary) !important;}
.text-secondary{    color: var(--second) !important;}
.text-grey {    color: var(--gray) !important;}
.text-light {    color: var(--ligth) !important;}
.label_mje{color: var(--alert);}
.spinner-grow { width: 1rem; height: 1rem;}
/*@over botstrap styles BOTONES */
.btn-primary{    background-color: var(--primary) !important;}
.btn-primary:hover{    background-color: var(--second) !important;}
.btn-gray{ background-color: var(--gray) !important;}
.bg_second { background-color: var(--second)!important;}

.my-5 { margin-top: 0rem!important;}

body {
    font-weight: 200;
    color: var(--primary);
    background-color: var(--grey) !important;
}

.layout-horizontal .main-navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.submenu-item:hover{
    background-color: var(--grey) !important;
}
.card .banner {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

/**Swipper/*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single_course:hover {
    box-shadow: 0px 10px 30px rgb(0 35 71 / 50%);
}

.single_course {
    box-shadow: 2px 2px 2px 2px #b8b8b869;
}

.card .banner {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

/*Style Pulse effect*/
/*USE
	<div class="blob white"></div>
	<div class="blob red"></div>
	<div class="blob orange"></div>
	<div class="blob yellow"></div>
	<div class="blob blue"></div>
	<div class="blob green"></div>
	<div class="blob purple"></div>
	<div class="blob"></div>
	*/
.blob {
    position: absolute;
    /* top: 10px; */
    /* left: 10px; */
    height: 15px;
    width: 15px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(0 0 0);
    /* margin: 0px; */
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.positionBadge{
    top: 3px !important;
    left: 6px !important;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.blob.white {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.blob.orange {
    background: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
}

.blob.yellow {
    background: rgba(255, 177, 66, 1);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
    animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    }
}

.blob.blue {
    background: rgba(52, 172, 224, 1);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.blob.green {
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

.blob.purple {
    background: rgba(142, 68, 173, 1);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
    animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
    }
}

/* end pulse efect*/

.card-ss:hover{
    background-color: var(--second);
}



@media screen and (max-width: 1199px){
    .layout-horizontal .main-navbar ul .menu-link {
        color: var(--ligth)!important;
    }

    .layout-horizontal .main-navbar .submenu .submenu-group .submenu-item a:hover {
        color: var(--primary) !important;
    }

    .layout-horizontal .main-navbar .submenu .submenu-group .submenu-item a {
        color: var(--ligth) !important;
    }

    .menu-container{
        display: block !important;
    }

    .layout-horizontal .main-navbar ul {
        align-content: inherit !important;
        align-items: inherit !important;
        gap: 0 !important;
    }
}


