/*RCGS Configure CSS3+s Styles*/
:root{
    --primary: #196398;
    --second: #CDAC12;
    --ligth : #ffffff;
    --grey: #dedede;
    --alert:  indianred;
    --gray: #616A6B;
}

/*@over botstrap styles*/
#main {
    padding: 0!important;
}

.page-content{
    padding: 2rem!important;
}

header{
    display:none !important;
}

@media screen and (max-width: 1199px){
    header{
        margin-top: 2rem!important;
        margin-left: 2rem!important;
        display:block !important;
    }
    .page-content {
        padding: 1rem!important;
    }
}


.bg-primary{background-color: var(--primary) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
/*@over botstrap styles TEXT*/
.text-light-grey{color: var(--grey) !important;}
.text-primary{    color: var(--primary) !important;}
.text-secondary{    color: var(--second) !important;}
.text-grey {    color: var(--gray) !important;}
.text-light {    color: var(--ligth) !important;}
.label_mje{color: var(--alert);}
.spinner-grow { width: 1rem; height: 1rem;}
/*@over botstrap styles BOTONES */
.btn-primary{    background-color: var(--primary) !important;}
.btn-primary:hover{    background-color: var(--second) !important;}
.btn-gray{ background-color: var(--gray) !important;}
.bg_second { background-color: var(--second)!important;}

.my-5 { margin-top: 0rem!important;}

body {
    font-weight: 200;
    color: var(--primary);
    background-color: var(--grey) !important;
}

/*Calloput*/
.bd-callout-info {
    border-left-color: #5bc0de;
}
.bd-callout-warning {
    border-left-color: #f0ad4e;
}
.bd-callout-danger {
    border-left-color: #d9534f;
}

.text-izq {
    text-align: left !important;
}



.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

bd-callout+.bd-callout {
    margin-top: -.25rem;
}

.callout-second {
    border-left-color: var(--second)!important;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--ligth);
    background: var(--ligth);
    border-left-width: 5px;
    border-radius: 3px;
}

.img_bg_cards {
    max-height: 300px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position-x: right;
    background-position-y: center;
}

/*CHECH BOX */
.form-check-input:checked {
    background-color: var(--primary) !important;
    border-color: var(--primary) ;
}

.obliga {
    color: red !important;
}


/*Style Pulse effect*/
/*USE
	<div class="blob white"></div>
	<div class="blob red"></div>
	<div class="blob orange"></div>
	<div class="blob yellow"></div>
	<div class="blob blue"></div>
	<div class="blob green"></div>
	<div class="blob purple"></div>
	<div class="blob"></div>
	*/
.blob {
    position: absolute;
    /* top: 10px; */
    /* left: 10px; */
    height: 15px;
    width: 15px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(0 0 0);
    /* margin: 0px; */
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.positionBadge{
    top: 3px !important;
    left: 6px !important;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.blob.white {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.blob.orange {
    background: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
}

.blob.yellow {
    background: rgba(255, 177, 66, 1);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
    animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    }
}

.blob.blue {
    background: rgba(52, 172, 224, 1);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.blob.green {
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

.blob.purple {
    background: rgba(142, 68, 173, 1);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
    animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
    }
}

/* end pulse efect*/

.img {
    padding: 3em;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .7;
    background: #000000;
    z-index: -1;
}
.table-avatar{
    width: 15px!important;
}

/*--------------  SECCIONES DE PAGINAS -----------------*/

/*+++++++++++++ INICIO SICEP ++++++++++++++++++++*/
.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(
            180deg , #ffffff 10%, #000000 100%);
    background-size: cover;
}

.bg-gradient-dark {
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}
.ftco-about .img-2 {
    -webkit-box-shadow: 0px 2px 25px -13px rgb(0 0 0 / 26%);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 25px -13px rgb(0 0 0 / 26%);
    border: 15px solid #fff;
    width: 60%;
    height: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*  DATATABLE */

.dataTables_length label{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dataTables_length label select{
    width: auto !important;
}

.dataTables_filter label input{
    width: auto !important;
}

.dataTables_filter label{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.list-group > .active {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.card-image-wrapper {
    display: flex;
    width: 100%;
    height: 250px;
    /* Just to show the size of the image wrapper */
    background-color: darkgrey;
}

.list-group-info {
    border: 0 !important;
    padding: 0 !important;
}

.bannerImg{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
}

.single_course:hover {
    box-shadow: 0px 10px 30px rgb(0 35 71 / 50%);
}

.single_course {
    box-shadow: 2px 2px 2px 2px #b8b8b869 ;
}

.card .banner {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

/**Swipper/*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    color: var(--primary) !important;
}